.div-1 {
    background-color:lightblue;
    height: 5px;
    width: 237px;
  }
  
  .div-2 {
    background-color:lavenderblush;
    height: 5px;
    width: 770px;
  }
  
  .div-3 {
    background-color:lightgoldenrodyellow;
    height: 5px;
    width: 7700px;
  }

  .div-4{
    background-color:lightgrey;
    height: 5px;
    width: 7700px;

  }